<div class="row">
<div class="input-field col s12 ">
    <label class="active"> <%= id %> </label>
    <input type="<%= type %>" id ="<%= id %>" name="<%= id %>" required value=<%=user[id]%> ></div>
    <%= console.log(user) %>  
</div>  